<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeBind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="eyeBind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EyeBind.Properties.Settings>
            <setting name="MainWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputSimulationPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeactivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftEyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightEyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlinkActivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedProfileIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MouseMoveHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ToggleKeyboardSimulationHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ToggleSoundsHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ToggleContinuousMouseMoveHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ToggleGazeMarkerHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GlobalSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GazeEnterSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GazeExitSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseMoveMode" serializeAs="String">
                <value>FirstPersonShooter</value>
            </setting>
            <setting name="MouseMoveFollowSpeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MouseMoveFirstPersonSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MouseMoveFirstPersonSpeedMultiplier" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MouseMoveStopDistance" serializeAs="String">
                <value>0</value>
            </setting>
        </EyeBind.Properties.Settings>
        <eyeBind.Properties.Settings>
            <setting name="MainWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputSimulationPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeactivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftEyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightEyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EyeBlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlinkActivationSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </eyeBind.Properties.Settings>
    </userSettings>
</configuration>